# The following files are not to checked
Makefile
aclocal.m4
autom4te.cache
config.h
config.log
config.status
examples/Makefile
examples/.deps
libtool
stamp-h1

src/.deps
src/Makefile

doc/imcmc_tutorial.aux
doc/imcmc_tutorial.log
doc/imcmc_tutorial.out
doc/imcmc_tutorial.toc
doc/imcmc_tutorial.synctex.gz

examples/.libs/
examples/cmb.params
examples/cmb.ranges
examples/cmb.settings
examples/cmb.txt
examples/cmb.used_seeds
examples/cmb_ashes.txt
examples/cmb_test
examples/cmb_test-cmb.o
examples/cmb_test.log
examples/cmb_test.trs
examples/gaussian.params
examples/gaussian.ranges
examples/gaussian.settings
examples/gaussian.txt
examples/gaussian.used_seeds
examples/gaussian_ashes.txt
examples/gaussian_test
examples/gaussian_test-gaussian.o
examples/gaussian_test.log
examples/gaussian_test.trs
examples/himmelblau.params
examples/himmelblau.ranges
examples/himmelblau.settings
examples/himmelblau.txt
examples/himmelblau.used_seeds
examples/himmelblau_ashes.txt
examples/himmelblau_test
examples/himmelblau_test-himmelblau.o
examples/himmelblau_test.log
examples/himmelblau_test.trs
examples/rosenbrock.params
examples/rosenbrock.ranges
examples/rosenbrock.settings
examples/rosenbrock.txt
examples/rosenbrock.used_seeds
examples/rosenbrock_ashes.txt
examples/rosenbrock_test
examples/rosenbrock_test-rosenbrock.o
examples/rosenbrock_test.log
examples/rosenbrock_test.trs
examples/test-suite.log
src/.libs/
src/libimcmc.la
src/libimcmc_la-ensemble.lo
src/libimcmc_la-ensemble.o
src/libimcmc_la-ensemble_init.lo
src/libimcmc_la-ensemble_init.o
src/libimcmc_la-ensemble_io.lo
src/libimcmc_la-ensemble_io.o
src/libimcmc_la-ensemble_likelihood.lo
src/libimcmc_la-ensemble_likelihood.o
src/libimcmc_la-ensemble_prior.lo
src/libimcmc_la-ensemble_prior.o
src/libimcmc_la-ensemble_sampling.lo
src/libimcmc_la-ensemble_sampling.o
src/libimcmc_la-imcmc.lo
src/libimcmc_la-imcmc.o
src/libimcmc_la-parser++.lo
src/libimcmc_la-parser++.o

