# The following files are not to checked
Makefile
Makefile.in
aclocal.m4
autom4te.cache/output.0
autom4te.cache/output.1
autom4te.cache/requests
autom4te.cache/traces.0
autom4te.cache/traces.1
config.h
config.log
config.status
configure
examples/Makefile
examples/Makefile.in
libtool
src/.deps/libimcmc_la-ensemble.Plo
src/.deps/libimcmc_la-ensemble_init.Plo
src/.deps/libimcmc_la-ensemble_io.Plo
src/.deps/libimcmc_la-ensemble_likelihood.Plo
src/.deps/libimcmc_la-ensemble_prior.Plo
src/.deps/libimcmc_la-ensemble_sampling.Plo
src/.deps/libimcmc_la-imcmc.Plo
src/.deps/libimcmc_la-parser++.Plo
src/Makefile
src/Makefile.in
